.cart_page {
    margin-top: 100px;
    direction: rtl;
}

.cart_box, .cart_update_box {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
}


.cart_box .cart_item_box {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #222;
}

.cart_box .cart_item_box .cart_item_delete {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.cart_box .cart_item_box .cart_item_delete i {
    font-size: 20px;
}

.cart_box .cart_item_box .cart_item_text {
    padding-left: 30px;
    font-size: 13px;
    font-weight: 500;
}

.cart_box .cart_item_box .cart_item_img {
    height: 65px;
    width: 90px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;

}



.cart_box .cart_item_price_box {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
}

.cart_box .cart_item_price_box .cart_item_price, .cart_box .cart_item_price_box .cart_item_price_text {
    width: 20%;
}

.cart_box .cart_item_price_box .cart_item_quantity, .cart_box .cart_item_price_box .cart_item_quantity_text {
    width: 40%;
    display: flex;
    justify-content: center;
}

.cart_box .cart_item_price_box .cart_item_total, .cart_box .cart_item_price_box .cart_item_total_text {
    width: 20%;

}

.cart_box .cart_item_price_box .cart_item_delete {
    width: 10%;

}

.cart_box .cart_item_price_box .cart_item_delete i {
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    padding: 5px;
}


.cart_update_box {
    justify-content: flex-end;
    margin-bottom: 60px;
    border: none;
}

.cart_update_box .cart_total_price {
    min-width: 40%;

}

.cart_update_box .cart_total_price div {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
    padding: 20px 20px 20px;
    color: #353535;
    align-items: center;
}

.cart_update_box .cart_total_price div span {
    font-size: 16px;
    font-weight: 400;
}

.cart_update_box .cart_total_price .shipping {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.cart_update_box .cart_total_price .checkout a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    padding: 0 45px;
    line-height: 52px;
    background-color: #353535;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
    text-align: center;
    border: 2px solid #353535;
}

.cart_update_box .cart_total_price .checkout a:hover {
    color: #353535;
    background-color: #fff;
    border: 2px solid #555555;
}

.contact_box {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.contact_box .general_info {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    flex-wrap: wrap;
}

.contact_box .general_info div {
    color: #353535;
    font-size: 22px;
    font-weight: 600;
    width: 33.3%;
    letter-spacing: .5px;
}

.contact_box .general_info label, .contact_box .general_info a {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: rgb(71, 137, 180);
    margin-top: 7px;
}

.contact_box .form_box {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact_box .form_box .input_box {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
}

.contact_box .form_box .input_box input, .contact_box .form_box .input_box textarea {
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 6px 12px;
    border-radius: 0;
    background-color: #f5f5f5;
    height: 50px;
}

.contact_box .form_box .input_box textarea {
    height: auto;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
}

.contact_box .form_box .input_box label {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
    display: inline-block;
    color: #333;
    letter-spacing: .5px;
    text-transform: capitalize;
}

.contact_box .form_box .input_box.w-50 {
    width: 50%;
}

.contact_box .form_box .input_box.submit {
    text-align: center;
    margin-bottom: 50px;
}

.contact_box .form_box .input_box button {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 120px;
    line-height: 55px;
    border: 1px solid #353535;
    background-color: #353535;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s background-color, .5s color;
}

.contact_box .form_box .input_box button:hover {
    background-color: #3879a5;
    border-color: #3879a5;
}

.contact_box .about_us_box {
    margin: 80px 0 0;
    padding: 0;
}

.contact_box .about_us_box .about_us_title {
    margin: 0;
}

.input_num[type=number]::-webkit-inner-spin-button,
.input_num[type=number]::-webkit-outer-spin-button {
    display: none;
}

.value-button {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}


.input_num {
    text-align: center;
    border: none;
    width: 40px;
    height: 35px;
    font-size: 14px;
    font-family: 'tajawal', 'roboto', sans-serif;
}

.checkout_page {
    margin-top: 70px;
    direction: rtl;
}

.checkout_form {
    max-width: 1200px;
    margin: auto;
    padding: 15px 30px;
    font-family: 'tajawal', 'roboto', sans-serif;
}

.checkout_form>div {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-bottom: 15px;
}

.checkout_form .contact_information .contact_text, .checkout_form .shipping_address .shipping_text {
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #222;
    margin-bottom: 15px;
}

.checkout_form .contact_information .comple_info {
    width: 100%;
    font-size: 32px;
    color: #222;
    margin-bottom: 30px;
    text-align: center;
}

.checkout_form .input_form, .checkout_form .checkbox_form {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.checkout_form .checkbox_form {
    margin-top: 5px;
}

.checkout_form .input_form input, .checkout_form .input_form textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    box-shadow: #7d7d7d 0px 0px 3px -1px;
    font-size: 14px;
    border: none;
    max-width: 100%;
}

.checkout_form .input_form input::placeholder,
.checkout_form .input_form textarea::placeholder {
    font-family: 'tajawal', sans-serif;
    color: #444;
}

.checkout_form .input_form.w-50 {
    width: 49.5%;
}

.checkout_form .input_form.w-33 {
    width: 32.66%;
}

.checkout_form .submit_form {
    margin: 30px auto;
}

.checkout_form .submit_form button {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 50px;
    background-color: #353535;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
    font-family: 'tajawal', sans-serif;
}

.checkout_form .submit_form button:hover {
    color: #353535;
    background-color: #fff;
}